.container{
    background-color: rgb(21, 131, 148);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* right: 0; */
    /* left: 0; */
    padding: .5rem;
    /* box-shadow: 10px 5px 10px #d2e40c80; */
    margin: 10px;
}
nav img {
    /* width: 100px; */
    cursor: pointer;
    /* margin: 7px 0; */
    border-radius: 15px;
  }
input{
    width: 300px;
    height: 28px;
    border-radius: 50px;
    padding-left: 10px;
    background: rgb(129, 182, 170);
     box-shadow: 0px 2px 5px 1px rgba(251, 161, 40, 0.42);
  
    
}
button {
 
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to top, #a2d7bb 0%, #fff 80%, #ade2bb 100%);
    border-radius: 30px;
    border: 1px solid #08b481;
    /* transition: all 0.2s ease; */
    /* font-family: "Source Sans Pro", sans-serif; */
    font-size: 14px;
    font-weight: 600;
    /* color: #606060; */
    /* text-shadow: 0 1px #fff; */
    margin-left: 15px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 0 10px;
    width: fit-content;
  }
  
  button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  