.componente {
    color: rgb(18, 79, 68);
    /* color: azure; */
    padding: 5px 13px;
    border: rgb(18, 79, 68) 8px groove;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0.5%;
}

.componente button {
    order: transparent;
    background-color: rgb(230, 105, 105);
    float: right;
    width: 35px;
    height: 30px;
    border-radius: .4rem;
    cursor: pointer;
}

.componente img {
    border-radius: 1.5rem;
    width: 300px;
    height: 250px;
}

.fire {
    animation: fire 2s infinite;
    font-family: "Arial", sans-serif;
    color: rgb(247, 168, 22);
}

@keyframes fire {
    0% {
        text-shadow:
            0 0 5px #c48a0c,
            0 0 10px #c48a0c,
            0 0 20px #c48a0c,
            0 0 30px #c48a0c,
            0 0 40px #c48a0c,
            0 0 50px #c48a0c,
            0 0 75px #c48a0c;
    }

    70% {
        text-shadow: none;
    }

    100% {
        text-shadow: none;
    }
}

.diet {
    color: rgb(18, 79, 68);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    /* min-height: 108px;
    min-height: 85px;  */
    /* overflow-y: auto; */
}